%p#notice= notice

%p
  %b Email:
  = @usr.email
- if @usr.is_admin?
  %p
    %b This user is admin!
-if @usr.is_racer?
  %h2 Races
  -@usr.runs.each do |run|
    =run.race.label_desc
= link_to 'Edit', edit_usr_path(@usr)
\|
= link_to 'Back', usrs_path
