// Place all the styles related to the Races controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mark_button:not(:empty){
  border: 1px dotted blue; 
  margin: 3px;
  padding: 2px;
}
